<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<a th:href="@{/form}">Add Product</a>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">Id</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.createdAt}">Created at</td>
    </tr>
</table>
</body>
</html>